name: Scraper Departamentos

on:
  schedule:
    # Ejecutar cada una hora
    - cron: '0 * * * *'
  workflow_dispatch: # Permite ejecutarlo manualmente desde la pestaña Actions

permissions:
  contents: write

jobs:
  scrape-and-notify:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar Scraper
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py

      - name: Guardar cambios en departamentos.json
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          # Solo commitear si hubo cambios en departamentos.json
          git add departamentos.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto: Actualizar base de datos de departamentos" && git push)
